@charset "UTF-8";
body { margin: 0; font-size: 16px;}
#container {
	margin: 10px auto;
	padding: 10px;
	width: 980px;
	background: #fafafa;
	border: 1px #666 solid;
	text-align: center;
}
#welcome {
	clear: both;
	padding-top: 6px;
	padding-bottom: 8px;
	heigth: 30px;
	font-size: 24px;
	border-bottom: 1px #333 solid;
	
}
.subject{
	clear: both;
	margin-bottom: 4px;
	padding: 8px 10px;
	border-bottom: 1px #333 dotted;
	text-align: left;
}
#but-submit {
	padding: 10px 0;
	height: 20px;
	font-size: 20px;
	color: #fff;
	background: #333;
	cursor: pointer;
}